.app-navigation {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
    background-color: #f8f8f8;
  }
  @media print {
    .app-navigation {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .app-navigation {
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }
  @media print {
    .app-navigation {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  @media (max-width: 40.0525em) {
    .app-navigation {
      display: none;
    }
  }
  
  .app-navigation__list {
    position: relative;
    left: -15px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .app-navigation__list-item {
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 50px;
    padding: 0 15px;
    float: left;
    line-height: 50px;
    margin: 0;
  }
  
  .app-navigation__list-item--selected {
    border-bottom: 4px solid #4c2c92;
  }
  
  .app-navigation__list-item--current {
    border-bottom: 4px solid #4c2c92;
  }
  
  .app-navigation__link {
    font-weight: 700;
    text-decoration: none;
  }
  .app-navigation__link:not(:focus):hover {
    color: #4c2c92;
    text-decoration: underline;
  }
  .app-navigation__link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .app-navigation__list-item--current .app-navigation__link:hover {
    text-decoration: none;
  }

  .app-mobile-nav {
    display: none;
    border-bottom: 1px solid #b1b4b6;
  }
  
  .app-mobile-nav--active {
    display: block;
  }
  @media (min-width: 40.0625em) {
    .app-mobile-nav--active {
      display: none;
    }
  }
  
  @media (max-width: 40.0525em) {
    .no-js .app-mobile-nav {
      display: block;
    }
  }
  
  .app-mobile-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .app-mobile-nav-subnav-toggler {
    position: relative;
    padding: 16px 20px 17px 20px;
    background-color: #f3f2f1;
  }
  
  .app-mobile-nav-subnav-toggler__link {
    font-weight: 700;
    font-size: 19px;
    font-size: 1.1875rem;
  }
  .app-mobile-nav-subnav-toggler__link:not(:focus):hover {
    color: #513184;
  }
  
  .app-mobile-nav-subnav-toggler__link,
  .app-mobile-nav__link {
    text-decoration: none;
  }
  .app-mobile-nav-subnav-toggler__link:after,
  .app-mobile-nav__link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .app-mobile-nav__subnav {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #f3f2f1;
    border-bottom: 1px solid #f3f2f1;
  }
  
  .js-enabled .app-mobile-nav__subnav--active {
    display: block;
  }
  
  .app-mobile-nav__section-item {
    position: relative;
  }
  
  .app-mobile-nav__subnav-item {
    display: block;
    position: relative;
    padding: 12px 20px;
  }
  
  .app-mobile-nav__subnav-item--current {
    padding-left: 16px;
    border-left: 4px solid #4c2c92;
  }
  
  h2.app-mobile-nav__theme {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 20px 20px 5px 20px;
    color: #505a5f;
    font-size: 19px;
    font-size: 1.1875rem;
    font-weight: normal;
  }
  @media print {
    h2.app-mobile-nav__theme {
      font-family: sans-serif;
    }
  }
  
  .app-subnav {
    margin-bottom: 100px;
    padding: 30px 15px 0 0;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
  }
  @media print {
    .app-subnav {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .app-subnav {
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  @media print {
    .app-subnav {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  
  .app-subnav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
  }
  
  .app-subnav__link {
    padding: 2px 0;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
  }
  @media print {
    .app-subnav__link {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .app-subnav__link {
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  @media print {
    .app-subnav__link {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  .app-subnav__link:not(:focus):hover {
    color: #513184;
  }
  
  .app-subnav__section-item {
    position: relative;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .app-subnav__section-item--current .app-subnav__link {
    font-weight: bold;
  }
  
  .app-subnav__section-item--top .app-subnav__link {
    position: relative;
    z-index: 2;
  }
  .app-subnav__section-item--top:after {
    content: "";
    display: block;
    padding-left: 14px;
    border-left: 4px solid #4c2c92;
    position: absolute;
    top: 0;
    left: -14px;
    width: 100%;
    height: 100%;
  }
  
  .app-subnav__section-item--bold .app-subnav__link {
    font-weight: bold;
    position: relative;
    z-index: 2;
  }
  
  .app-subnav__section--nested {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;
  }
  
  .app-subnav__section--nested .app-subnav__section-item::before {
    margin-left: -20px;
    color: #505a5f;
    content: "—";
  }
  
  .app-subnav__section--nested .app-subnav__link {
    padding-left: 0;
    font-weight: normal;
  }
  
  .app-subnav__section--nested .app-subnav__link--bold {
    padding-left: 0;
    font-weight: bold;
  }
  
  .app-subnav__theme {
    margin: 0;
    padding: 10px 15px 10px 0;
    color: #505a5f;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
  }
  @media print {
    .app-subnav__theme {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .app-subnav__theme {
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }
  @media print {
    .app-subnav__theme {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  